.display__infobox {
    padding: 0.5%;
    flex-direction: wrap;
    background-image: linear-gradient(90deg, #2E3440, #4C566A);
}
.infobox__img {
    float: right;
    height: 15%; 
    width: 15%;
    margin: 1%
} 
.display__card {
    flex-direction: wrap;
    display: flex;
    justify-content: space-between;
}