.app__search {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.search__bar {
    position: absolute;
}
.search_datepicker {
    z-index: 1;
    position: absolute;
    margin-top: 20%;
    margin-left: 20%;

}
p {
    color:#ECEFF4;
  }