.app__search {
    width: 80%;
    padding: 5%;
}
.search__bar {
    position: absolute;
}
p {
    color:#ECEFF4;
  }
.search__datepicker{
    z-index: 99 !important;
}
.search__filters {
    display: flex;
}
.search_datepicker_toggle {
    padding: 1%;
}